@charset "utf-8";

/* =======================================

	CommonElements

======================================= */
body {
	
}

a:link { text-decoration:none; color: #000;}
a:visited { text-decoration:none; color: #000;}
a:active { text-decoration:none; color: #000;}
a:hover { text-decoration:none; color: #000;}

h1 {
	
}
h2 {
	
}



/* #flickscroll
--------------------------- */
#flickscroll {
	margin: 0 auto;
	width: 1200px;
	height: 480px;
	text-align: left;
	position: relative;
}
#flickscroll ul {
	top: 0;
	left: 0;
	height: 650px;
	position: absolute;
	overflow: hidden;
}
#flickscroll ul li {
	width: 1200px;
	height: 500px;
	float: left;
	display: inline;
	overflow: hidden;
}

#flickscroll #moveprev {
	top: 0;
	left: -30px;
	width: 30px;
	height: 400px;
	background: transparent url(../img/) no-repeat left top;
	position: absolute;
	cursor: pointer;
}

#flickscroll #movenext {
	top: 0;
	right: -30px;
	width: 30px;
	height: 400px;
	background: transparent url(../img/) no-repeat left top;
	position: absolute;
	cursor: pointer;
}



/* #flickthumb
--------------------------- */
#flickthumb {
	margin: 10px auto;
	width: 500px;
	height: 10px;
	text-align: center;
}
#flickthumb ul {
	visibility : hidden;
	width: 500px;
	height: 10px;
}
#flickthumb ul li {
	visibility : hidden;
	width: 500px;
	height: 10px;
	float: 
	cursor: pointer;
	display: inline;
}
#flickthumb ul li.active {
	filter:alpha(opacity=100)!important;
	-moz-opacity: 1!important;
	opacity: 1!important;
}


/* =======================================
	ClearFixElements
======================================= */
#flickscroll ul:after,
#flickthumb ul:after {
	content: ".";
	height: 0;
	clear: both;
	display: block;
	visibility: hidden;
}

#flickscroll ul,
#flickthumb ul {
	display: inline-block;
	overflow: hidden;
}

